<div class="">
  <h1 class="text-lg tracking-wide font-semibold">FEATURED CARS HERE</h1>
  <p class="mt-4">
    This section will display the feature cars. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Unde minima saepe laudantium aut nisi est,
    molestiae accusamus voluptate eligendi magnam odio voluptates maiores
    adipisci. Eius neque doloribus consequuntur similique aut. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Est, quas itaque voluptates
    exercitationem id eum fugit veniam? Quos asperiores, porro qui vero,
    delectus aliquam cum assumenda possimus laborum, recusandae veniam? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Unde minima saepe
    laudantium aut nisi est, molestiae accusamus voluptate eligendi magnam odio
    voluptates maiores adipisci. Eius neque doloribus consequuntur similique
    aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, quas
    itaque voluptates exercitationem id eum fugit veniam? Quos asperiores, porro
    qui vero, delectus aliquam cum assumenda possimus laborum, recusandae
    veniam?
  </p>
</div>
