<div
  class="w-full h-full bg-[color:var(--primary-color-text)] flex flex-col pb-2 overflow-y-auto cursor-default transition-all overflow-x-hidden"
>
  <div
    class="top-head flex justify-between items-center h-16 border-b-gray-300 border-b-[1px] transition-all duration-300"
  >
    <h1
      class="tracking-wide font-bold w-full z-10 pl-5 text-[color:var(--text-color)] whitespace-nowrap"
    >
      <span class="text-2xl">M</span
      ><span
        class="text-lg transition-all duration-400"
        [ngClass]="{
          'lg:opacity-0 lg:w-0':
            !layoutService.sideBarHovered && !layoutService.sideBarPinned
        }"
        >RCS Auto</span
      >
    </h1>
    <div
      class="hidden lg:block lg:opacity-100 transition-[display, opacity] duration-300 pr-4"
      [ngClass]="{
        'lg:hidden lg:opacity-0 ':
          !layoutService.sideBarHovered && !layoutService.sideBarPinned
      }"
    >
      <p-button
        (click)="pinToggle()"
        styleClass="h-6 w-6 align-item-center bg-[color:var(--primary-color-text)] text-[color:var(--primary-color)] focus:ring-0 "
      >
        <i
          class="pi pi-thumbtack transition-all text-sm lg:opacity-100 m-auto"
          [ngClass]="{
            'duration-75 lg:rotate-90  -translate-x-[1px]':
              layoutService.sideBarPinned,
            ' duration-1000 lg:opacity-0':
              !layoutService.sideBarHovered && !layoutService.sideBarPinned
          }"
        ></i>
      </p-button>
    </div>
  </div>
  <div class="flex-grow">
    <cr-menu />
  </div>

  <div class="bottom"></div>
</div>
